
services:
  notification-service:
    image: arindampal28/interviewmate-notification-service:latest
    container_name: backend-notification-service
    env_file:
      - ../.env
   

    networks:
      - interviewmate-network

    volumes:
      - notification-logs:${LOG_PATH:-/app/logs}

    depends_on:
      kafka:
        condition: service_healthy
      eureka-server:
        condition: service_started
      config-server:
        condition: service_started

    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8082/actuator/health || exit 1"]
      interval: 10s
      retries: 10
      start_period: 30s

networks:
  interviewmate-network:
    external: true

volumes:
  notification-logs:
