# version: '3.8'

# services:
#   mysql:
#     image: mysql:8.0
#     container_name: backend-mysql
#     environment:
#       MYSQL_ROOT_PASSWORD: "root"
#     ports:
#       - "3307:3306"
#     networks:
#       - interviewmate-network
#     volumes:
#       - mysql-data:/var/lib/mysql
#       - ./mysql-init:/docker-entrypoint-initdb.d
#     healthcheck:
#       test: ["CMD-SHELL", "mysqladmin ping -h localhost -uroot -proot"]
#       interval: 10s
#       retries: 10
#       start_period: 40s

#   redis:
#     image: redis:latest
#     container_name: backend-redis
#     ports:
#       - "6379:6379"
#     networks:
#       - interviewmate-network
#     volumes:
#       - redis-data:/data
#     healthcheck:
#       test: ["CMD", "redis-cli", "ping"]
#       interval: 10s
#       retries: 10
#       start_period: 20s

#   kafka:
#     image: bitnami/kafka:latest
#     container_name: backend-kafka
#     environment:
#       KAFKA_CFG_NODE_ID: 1
#       KAFKA_CFG_PROCESS_ROLES: broker,controller
#       KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
#       KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
#       KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
#       KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
#       ALLOW_PLAINTEXT_LISTENER: "yes"
#     ports:
#       - "9092:9092"
#       - "9093:9093"
#     networks:
#       - interviewmate-network
#     volumes:
#       - kafka-data:/bitnami/kafka
#     healthcheck:
#       test: ["CMD-SHELL", "/opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --list || exit 1"]
#       interval: 10s
#       retries: 10
#       start_period: 30s

#   eureka-server:
#     image: arindampal28/interviewmate-eureka-server:v1.0
#     container_name: backend-eureka-server
#     ports:
#       - "8761:8761"
#     networks:
#       - interviewmate-network
#     healthcheck:
#       test: ["CMD-SHELL", "curl -f http://localhost:8761/actuator/health || exit 1"]
#       interval: 10s
#       retries: 10
#       start_period: 40s

#   api-gateway:
#     image: arindampal28/interviewmate-gateway-service:v1.1
#     container_name: backend-api-gateway
#     ports:
#       - "8080:8080"
#     networks:
#       - interviewmate-network
#     depends_on:
#       - eureka-server
#     healthcheck:
#       test: ["CMD-SHELL", "curl -f http://localhost:8080/actuator/health || exit 1"]
#       interval: 10s
#       retries: 10
#       start_period: 30s

#   user-service:
#     image: arindampal28/interviewmate-user-service:v1.0
#     container_name: backend-user-service
#     ports:
#       - "8081:8081"
#     environment:
#       SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/userdb
#       SPRING_DATASOURCE_USERNAME: user_service
#       SPRING_DATASOURCE_PASSWORD: UserService#2025
#       SPRING_REDIS_HOST: redis
#       SPRING_KAFKA_PRODUCER_BOOTSTRAP_SERVERS: kafka:9092
#       JWT_SECRET: 5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437
#     networks:
#       - interviewmate-network
#     depends_on:
#       - eureka-server
#       - mysql
#       - redis
#       - kafka
#     healthcheck:
#       test: ["CMD-SHELL", "curl -f http://localhost:8081/actuator/health || exit 1"]
#       interval: 10s
#       retries: 10
#       start_period: 40s

#   notification-service:
#     image: arindampal28/interviewmate-notification-service:v1.0
#     container_name: backend-notification-service
#     ports:
#       - "8082:8082"
#     environment:
#       SPRING_MAIL_USERNAME: arindampal669@gmail.com
#       SPRING_MAIL_PASSWORD: "vguugzkhggifsbqs"
#       SPRING_KAFKA_CONSUMER_BOOTSTRAP_SERVERS: kafka:9092
#     networks:
#       - interviewmate-network
#     depends_on:
#       - eureka-server
#       - kafka
#     healthcheck:
#       test: ["CMD-SHELL", "curl -f http://localhost:8082/actuator/health || exit 1"]
#       interval: 10s
#       retries: 10
#       start_period: 30s

#   resume-service:
#     image: arindampal28/interviewmate-resume-service:v1.1
#     container_name: backend-resume-service
#     ports:
#       - "8084:8084"
#     environment:
#       SPRING_PROFILES_ACTIVE: prod
#       SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/resume_db
#       SPRING_DATASOURCE_USERNAME: resume_service
#       SPRING_DATASOURCE_PASSWORD: ResumeService#2025
#       SPRING_REDIS_HOST: redis
#       EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
#       PYTHON_API_URL: https://resumeservice.onrender.com/resumeanalyzer/api/v1
#       CLOUDINARY_CLOUD_NAME: didiyzbnq
#       CLOUDINARY_API_KEY: 993561418914186
#       CLOUDINARY_API_SECRET: MeRUerQZHc0qPkJRVgiHJZ1yWfs
#     networks:
#       - interviewmate-network
#     depends_on:
#       - mysql
#       - redis
#       - eureka-server
#     healthcheck:
#       test: ["CMD-SHELL", "curl -f http://localhost:8084/actuator/health || exit 1"]
#       interval: 10s
#       retries: 10
#       start_period: 30s

# networks:
#   interviewmate-network:
#     driver: bridge

# volumes:
#   mysql-data:
#   redis-data:
#   kafka-data:


name: interviewmate-platform

include:
  # -------- Core Infra --------
  - docker-compose.infra.yml          # mysql, redis, kafka, mongo
  - eureka-server\eureka-server\docker-compose.eureka.yml        # service discovery
  - config-server\docker-compose.config.yaml

  # -------- Entry Point --------
  - api-gateway\api-gateway\docker-compose.gateway.yml        # ONLY exposed service

  # -------- Business Services --------
  - user-service\user-service\docker-compose.user.yml
  - resume-service\resume-service\docker-compose.resume.yml
  - coding-service\coding-service\docker-compose.coding.yml
  - notification-service\notification-service\docker-compose.notification.yml

  # -------- Judge / Execution Engine --------
  - judge0\docker-compose.judge0.yml
  - judge-worker\judge-worker\docker-compose.judge-worker.yml
