
x-logging: &default-logging
  logging:
    driver: json-file
    options:
      max-size: "100M"

services:

  judge0-api:
    image: judge0/judge0:latest
    container_name: judge0-api-interviewmate

    env_file:
      - judge0.conf

    environment:
      REDIS_HOST: judge0-redis
      REDIS_PORT: 6379

    # ports: REMOVED

    privileged: true
    <<: *default-logging
    restart: always

    depends_on:
      judge0-db:
        condition: service_started
      judge0-redis:
        condition: service_started

    networks:
      - interviewmate-network


  judge0-worker:
    image: judge0/judge0:latest
    container_name: judge0-worker-interviewmate
    command: ["./scripts/workers"]

    env_file:
    - judge0.conf
    environment:
      REDIS_HOST: judge0-redis-interviewmate
      REDIS_PORT: 6379
      REDIS_PASSWORD: judge0redis

    privileged: true
    <<: *default-logging
    restart: always

    depends_on:
      judge0-db:
        condition: service_started
      judge0-redis:
        condition: service_started

    networks:
      - interviewmate-network


  judge0-db:
    image: postgres:16.2
    container_name: judge0-db-interviewmate

    env_file:
      - judge0.conf

    volumes:
      - judge0_data:/var/lib/postgresql/data/

    <<: *default-logging
    restart: always

    networks:
      - interviewmate-network


  judge0-redis:
    image: redis:7.2.4
    container_name: judge0-redis-interviewmate

    command:
      - bash
      - -c
      - 'docker-entrypoint.sh --appendonly no --requirepass "$$REDIS_PASSWORD"'

    env_file:
      - judge0.conf

    <<: *default-logging
    restart: always

    networks:
      - interviewmate-network


volumes:
  judge0_data:

networks:
  interviewmate-network:
    external: true
