services:
  audio-answer-converter-service:
    image: arindampal28/interviewmate-audio-answer-converter-service:0.0.1
    container_name: audio-answer-converter-service
    env_file: 
      - ./.env
      
    networks:
      - interviewmate-network

    depends_on:
      kafka:
        condition: service_healthy

    healthcheck:
      interval: 10s
      retries: 10
      start_period: 40s

networks:
  interviewmate-network:
    external: true