services:
  client:
    image: arindampal28/interviewmate-client:0.0.1
    container_name: client

    networks:
      - interviewmate-network

    ports:
      - "8001:8001"

    depends_on:
      kafka:
        condition: service_healthy

    healthcheck:
      interval: 10s
      retries: 10
      start_period: 40s

networks:
  interviewmate-network:
    external: true
