server:
  port: ${GATEWAY_SERVER_PORT:8080}

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-auth-service
              uri: lb://user-service
              predicates:
                - Path=/api/v1/auth/**

            - id: user-profile-service
              uri: lb://user-service
              predicates:
                - Path=/api/v1/users/**

            - id: resume-service
              uri: lb://resume-service
              predicates:
                - Path=/api/v1/resume/**

            - id: coding-service
              uri: lb://coding-service
              predicates:
                - Path=/api/v1/coding/**

          discovery:
            locator:
              enabled: false
              lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

logging:
  level:
    "[org.springframework.cloud.gateway]": INFO
    "[com.interviewmate.apigateway]": INFO

  file:
    name: /app/logs/api-gateway.log

  logback:
    rollingpolicy:
      max-file-size: 50MB
      max-history: 30

  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

jwt:
  secret: ${JWT_SECRET}
