server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-auth-service
              uri: lb://user-service
              predicates:
                - Path=/api/v1/auth/**

            - id: user-profile-service
              uri: lb://user-service
              predicates:
                - Path=/api/v1/users/**

            - id: resume-service
              uri: lb://resume-service
              predicates:
                - Path=/api/v1/resume/**

            - id: coding-service
              uri: lb://coding-service
              predicates:
                - Path=/api/v1/coding/**

          discovery:
            locator:
              enabled: false
              lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    hostname: localhost
    instance-id: ${spring.application.name}:${server.port}

logging:
  level:
    "[org.springframework.cloud.gateway]": INFO
    "[com.interviewmate.apigateway]": INFO

  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

jwt:
  secret: ${JWT_SECRET}
